<div class="row">
  <div class="col-12">
    <div class="card rounded-0">
      <div class="card-header text-bg-primary rounded-0 category-header">List Category
      </div>
      <div class="card-body d-flex flex-column">
        <table class="table table-striped text-sm-center" id="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each categories}}
            <tr>
              <th scope="row">{{CategoryID}}</th>
              <td>{{CategoryName}}</td>
              <td>
                <a href="/category/detail?page=1&CatID={{CategoryID}}&CatName={{CategoryName}}">detail</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>



        <div class="btn-group align-self-center" id="btn-group" role="group" aria-label="Basic outlined example">
          {{#each page}}
          <a href="/page?page={{this}}"><button type="button" class="btn rounded-0 btn-outline-primary"
              value="{{this}}">{{this}}</button></a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>